.mat-drawer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;

    .mat-drawer {
        width: 320px;

        .header {
            padding: 16px 32px;
            position: sticky;
            top: 0;
            background-color: white;
        }

        ::ng-deep {
            .mat-drawer-inner-container {
                display: flex;
                flex-direction: column;
                max-height: 100%;
                overflow: hidden;
            }
        }
    }

    .sidenav-content {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.component {
    cursor: grab;
    img {
        width: inherit;
        margin-bottom: -6px;
    }
}

.component-list {
    padding: 32px;
    overflow: scroll;

    .add-component-button {
        width: 100%;
    }

    .component {
        margin: 12px 0;
        width: 100%;
    }
}

.template {
    margin: 32px auto;
    width: 800px;
    min-height: 300px;

    .component {
        width: 100%;
    }
}
