<mat-drawer-container autosize
  *ngIf="components$ | async as components">
  <mat-drawer #drawer
    mode="side"
    [opened]="true">
    <div class="header"
      [ngClass]="{ 'mat-elevation-z8': showHeaderShadow$ | async }">
      <h2>Components</h2>
      <small>Drag and drop components from below into your template</small>
    </div>
    <div cdkDropList
      #componentsList="cdkDropList"
      [cdkDropListData]="components"
      [cdkDropListConnectedTo]="[templateList]"
      class="component-list"
      (cdkDropListDropped)="drop($event)"
      (scroll)="componentsScrollHandler($event)">
      <button mat-raised-button
        *ngIf="isAdmin"
        color="primary"
        class="add-component-button"
        (click)="openAddComponentDialog()">
        Add Component
      </button>
      <div class="component mat-elevation-z1"
        *ngFor="let item of components"
        cdkDrag>
        <button *ngIf="isAdmin"
          mat-mini-fab
          (click)="deleteComponent(item)"
          color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <img [src]="apiBase + '/components/' + item">
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="title mat-elevation-z1">
      <h2>{{ template.name }}</h2>
    </div>
    <div class="template-container"
      [style.width]="(800 * zoom) + 'px'"
      [ngClass]="{
        empty: !template.components.length
      }">
      <div *ngIf="!template.components.length"
        class="empty-message">
        <h2>
          Drag a component to build your template
        </h2>
      </div>
      <div cdkDropList
        #templateList="cdkDropList"
        [cdkDropListData]="template.components"
        [cdkDropListConnectedTo]="[componentsList]"
        class="template"
        (cdkDropListDropped)="drop($event)">
        <div class="component"
          *ngFor="let item of template.components; let i = index"
          cdkDrag>
          <button *ngIf="isAdmin"
            mat-mini-fab
            (click)="deleteComponentFromTemplate(i)"
            color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <img [src]="apiBase + '/components/' + item">
        </div>
      </div>
    </div>

    <div class="template-controls mat-elevation-z2">
      <span [style.fontWeight]="'bold'">File</span>
      <button mat-icon-button
        (click)="clearTemplate()">
        <mat-icon>note_add</mat-icon>
      </button>
      <button mat-icon-button
        [matMenuTriggerFor]="templatesMenu"
        [disabled]="!(templates$ | async)?.length">
        <mat-icon>file_open</mat-icon>
      </button>
      <button mat-icon-button
        (click)="save(template)"
        [disabled]="(saveInProgress$ | async) || !template.components.length">
        <mat-icon>save</mat-icon>
      </button>
      <ng-container *ngIf="{
        isSaved: (templates$ | async) | arrayContains : template : 'name',
        isProgress: deleteInProgress$ | async
      } as state">
        <button mat-icon-button
          color="warn"
          (click)="deleteTemplate()"
          [disabled]="state.isProgress || !state.isSaved">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <hr>
      <span [style.fontWeight]="'bold'">Zoom</span>
      <button mat-icon-button
        (click)="zoom = zoom + 0.1"
        [disabled]="zoom >= 1.2">
        <mat-icon>add</mat-icon>
      </button>
      <span class="current-zoom">{{ zoom | percent }}</span>
      <button mat-icon-button
        (click)="zoom = zoom - 0.1"
        [disabled]="zoom < 0.11">
        <mat-icon>remove</mat-icon>
      </button>
      <hr>
      <button mat-icon-button
        (click)="clearTemplate(false)"
        [disabled]="!template.components.length">
        <mat-icon>restart_alt</mat-icon>
      </button>
      <!-- <button mat-icon-button
        (click)="print()">
        <mat-icon>print</mat-icon>
      </button> -->

      <mat-menu #templatesMenu="matMenu">
        <button *ngFor="let item of templates$ | async"
          mat-menu-item
          (click)="template = item">
          {{ item.name }}
        </button>
      </mat-menu>
    </div>
  </div>

</mat-drawer-container>